.door {
  position: absolute;
  width: 50%;
  height: 100%;
  border: 15px solid #5b2f0b;
}
.door-left {
  left: 0;
}
.door-right {
  right: 0;
}
.door-washi {
  background-size: 60px 80px;
  background-image: linear-gradient(to right, #5b2f0b 5px, transparent 1px),
    linear-gradient(to bottom, #5b2f0b 5px, transparent 1px);
  background-color: rgba(250, 250, 250, 0.9);
  height: 80%;
  width: 100%;
}
.door-bottom {
  width: 100%;
  height: 20%;
  background-color: #5b2f0b;
}
