.header {
  width: 100%;
  height: 100dvh;
  position: relative;
  background: var(--primary-gradient);
  margin: 0 auto;
  overflow-y: visible;
}
.header-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-content-width);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-animations {
  overflow: visible;
}
.header-sakuraBranch {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  max-width: 100%;
  visibility: visible;
}
svg {
  overflow: visible;
}
.header-petal {
  position: absolute;
  top: 0;
}
.header__content {
  max-width: 900px;
  display: block;
  padding: 50px;
  position: relative;
  z-index: 5;
}

.header__title h1 {
  font-size: 80px;
  color: var(--primary-dark-color);
}

.header__links {
  display: flex;
  margin-top: 10px;
}

.icon {
  font-size: 30px;
  margin: 0 8px;
  color: var(--primary-color);
}
.icon:hover {
  color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}
.header__text {
  max-width: 400px;
  font-family: var(--secondary-font);
  margin-top: 20px;
}
.header__text p {
  font-size: 25px;
  margin: 0;
  text-wrap: pretty;
}

.header-scroll {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  border-radius: 5rem;
  border: 4px solid var(--primary-color);
}
.header-scroll__circle {
  width: 12px;
  height: 12px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: var(--primary-color);
}
@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header__title h1 {
    font-size: 50px;
  }
  .header-sakuraBranch {
    transform: rotate(20deg);
    top: -220px;
  }
}
