.header {
  width: 100%;
  height: 60vh;
  position: relative;
  max-width: var(--max-content-width);
  margin: 0 auto;
  overflow-y: visible;
}
.header-animations {
  overflow: visible;
}
.header-sakuraBranch {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  max-width: 100%;
  visibility: visible;
}
svg {
  overflow: visible;
}
.header-petal {
  position: absolute;
  top: 0;
}
.header__content {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  z-index: 5;
}

.header__title h1 {
  font-size: 80px;
  color: var(--primary-dark-color);
}

.header__links {
  display: flex;
  margin-top: 10px;
}

.icon {
  font-size: 30px;
  margin: 0 8px;
  color: var(--primary-color);
}
.icon:hover {
  color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}
.header__text {
  max-width: 400px;
  font-family: var(--secondary-font);
  margin-top: 20px;
}
.header__text p {
  font-size: 25px;
  margin: 0;
}
@media (max-width: 600px) {
  .header__title h1 {
    font-size: 50px;
  }
  .header-sakuraBranch {
    transform: rotate(20deg);
    top: -220px;
  }
}
