.projects-container {
  max-width: var(--max-content-width);
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}
.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}
.project-filterCtn {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project__filterBtn {
  border: none;
  margin: 5px;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 10px;
  color: var(--primary-light-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.project__filterBtn:hover {
  box-shadow: 1px 2px 24px -2px var(--shadow-color);
  transform: scale(1.02);
}
.project__filterBtn:focus,
.project__filterBtn--active {
  background-color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}

.project-content {
  width: 400px;
  min-width: 280px;
  padding: 10px;
}
.project-title {
  font-size: 25px;
  padding: 20px;
}
.project-img {
  max-width: 100%;
  width: 400px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img__desktop {
  width: 100%;
  height: 250px;
  background-color: var(--dark-color);
  border-radius: 1rem 1rem 0 0;
  padding: 10px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: -20px;
    width: 100%;
    height: 25px;
    border-radius: 0 0 1rem 1rem;
    background: var(--gray-color);
    background: var(--gray-gradient);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  scale: 0.8;
}

.project-img__screen {
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  border-radius: 2px;
  overflow-y: hidden;
  & img {
    max-width: 100%;
  }
}

.project-tech {
  display: flex;
  padding: 0 20px;
}
.project-tag {
  margin: 5px;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 10px;
  color: var(--primary-light-color);
  background-color: var(--primary-color);
}
.project-desc {
  font-family: var(--secondary-font);
  font-size: 20px;
  padding: 0 20px;
}
.project-links {
  display: flex;
  padding: 0 20px;
}

.project-links a {
  margin: 5px;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--primary-light-color);
  background-color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}

.project-links a:hover {
  box-shadow: 1px 2px 24px -2px var(--shadow-color);
  transition: 0.4s ease-in-out;
  transform: scale(1.02);
}

@media (min-width: 998px) {
  .project-img__screen {
    overflow-y: scroll;
    /* &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--primary-light-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  } */
  }
}
