/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
/* font-family: 'Limelight', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
/* font-family: 'League Gothic', sans-serif); */

:root {
  --primary-font: 'Limelight', cursive;
  --secondary-font: 'League Gothic', sans-serif;
  --h3-font-size: 25px;
  --p-font-size: 16px;
  --dark-color: #0f0f0f;
  --light-color: #fefefe;

  --primary-color: rgb(127, 10, 21);
  --primary-light-color: rgb(253, 253, 253);
  --primary-dark-color: rgb(55, 38, 56);
  --secondary-color: rgb(97, 148, 121);

  --gray-color: rgba(162, 159, 159, 1);
  --shadow-color: rgba(145, 125, 152, 1);
  --gray-gradient: linear-gradient(
    90deg,
    rgba(162, 159, 159, 1) 40%,
    rgba(203, 203, 203, 1) 100%
  );
  --primary-gradient: linear-gradient(
    345deg,
    rgb(253, 253, 253) 39%,
    rgb(241, 215, 225) 87%
  );

  --max-content-width: 1200px;
}
::selection {
  background: var(--secondary-color);
  color: var(--primry-light-color);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--primary-light-color);
  color: var(--primry-dark-color);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
img {
  max-width: 100%;
}
